* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.contact {
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    color: white;
}

.marquee {
    display: flex;
    color:white;
    justify-content: space-between;
}

.callToAction {
    display: flex;
    justify-content: center;
}

.ctaInner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 15vh;
}

.headline{
    display: flex;
    align-items: center;
    max-width: 50vw;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 5.25rem;
}

.subhead {
    display: flex;
    align-items: center;
    max-width: 33vw;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 0.875rem;
}

.linkSelected {
    color: yellow
}

.linkNotSelected {
    color: white
}