* {
    margin: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue;
}

body {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.contact {
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    color: white;
    cursor: pointer;
}

.marquee {
    display: flex;
    color:white;
    justify-content: space-around;
}

.callToAction {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: white;
}

.ctaInner {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.ctaButton{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.688rem;
    font-weight: 500;
}

.ctaButton::after{
    margin-left: .5vw;
    content: "→";
    color: orange;
    font-size: 0.688rem;
    font-weight: 500;
}

.headline{
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5.25rem;
    font-family: bold;
}

.subhead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-size: 0.875rem;
}

.menu h2{
    cursor: pointer;
    padding-top: .5vh;
}

.linkSelected {
    color: yellow;
}

.linkNotSelected {
    color: white;
}