* {
    margin: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue;
}

.header, .marquee, .callToAction {
    max-width: 1440px;
}

body {
    background-color:#181818;
}

.header {
    display: flex;
    justify-content: space-between;
}

.contact {
    height: 5vh;
    width: 20vw;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    color: white;
    cursor: pointer;
}

.marquee {
    display: flex;
    color:white;
    justify-content: space-between;
}

@media screen and (max-width: 600px ){
    .marquee, .header, .callToAction{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        padding-bottom: .5vh;
    }
}

.callToAction {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: white;
}

.ctaInner {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.ctaButton{
    width: 33%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 0.688rem;
    font-weight: 500;
    cursor: pointer;
}

.ctaButton::after{
    margin-left: .5vw;
    content: "→";
    color: #ffc001;
    font-size: 0.688rem;
    font-weight: 500;
    cursor: pointer;
}

.headline{
    width: 60%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    font-size: 5.25rem;
    font-family: bold;
}

.subhead {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 33%;
    font-size: 0.875rem;
    line-height: 1.86;
}

.menu h2{
    cursor: pointer;
    padding-top: .5vh;
    font-size: .875rem;
    font-weight: bold;
}

.linkSelected {
    color: #ffc001;
}

.linkNotSelected {
    color: white;
}